<!--md-toolbar color="primary">
      <span>
      <md-icon class="icon-20">lightbulb_outline</md-icon>
      Ideator
    </span>
    <div>
       <a *ngFor="let item of menuItems" [routerLink]="item.link" href="">{{item.caption}}</a>
    </div>
</md-toolbar-->

<md-toolbar color="primary" class="animated fadeInDown">
  <span class="logo"> <img  src="assets/img/logo.svg"></span>

  <div class="heading">Home</div>

  <md-input type="text" placeholder="Search" name="" value="" class="search-wrapper">
    <span md-prefix><md-icon class="material-icons white md-24">search</md-icon></span>
  </md-input>
  <span class="example-fill-remaining-space"></span>


  <ul>
    <li *ngFor="let item of menuItems">
      <a href="" [routerLink]="item.link">{{item.caption}}</a>
    </li>


  </ul>
  <div class="user-icon" ><img md-card-avatar src="assets/img/user03.png"  md-tooltip= "Vijay Pawase" tooltip-position="below" [md-menu-trigger-for]="menu" >
  <md-menu #menu="mdMenu" role="menu" x-position="before" y-position="below">
      <button md-menu-item role="menuitem" disabled> My Profile </button>
      <button md-menu-item role="menuitem" disabled> Settings </button>
      <button md-menu-item role="menuitem" disabled> Help </button>
      <button md-menu-item role="menuitem"> Sign Out </button>
    </md-menu></div>

</md-toolbar>