

<div class="form-container">
    <md-card class="create-idea-form">
     <div class="form-header"> <h1>It starts with an idea.</h1>
      <p>Now give me the pitch.</p></div>
      <form>
        <div class="row">
          <md-input placeholder="Give your idea name. (You can change it later)"> <span md-prefix>*</span></md-input>
        </div>
        <div class="row">
           <md-input placeholder="Tagline"></md-input>
         

        </div>
        <div class="row">
          <md-input placeholder="YouTube video link or Vimeo Video link"> </md-input>
          

        </div>

        <div class="row">
          <md-textarea class="" placeholder="The Elevator Pitch"></md-textarea>

        </div>
         <!--<div class="row">
        <input type="file" name="fileupload" value="fileupload" id="fileupload"></div>-->

        <div class="row button-wrapper">
          <div><button md-raised-button color="primary">CREATE NEW IDEA</button>
          <button md-button class="cancel-button">CANCEL</button></div>
         
         
        </div>
      </form>
    </md-card>
  </div>