

<div class="form-container animated fadeIn">

  <h1 align="center">Login</h1>
    <md-card class="login">
       <!--<div class="form-header"> <h1>Login</h1>
       </div>-->
      <form>
        <div class="row">
          <md-input type="email" placeholder="E-mail Address">
<span md-prefix><md-icon class="material-icons gray">email</md-icon></span>


          </md-input>
        </div>

        <div class="row">
          <md-input type="Password" placeholder="Password" >
            <span md-prefix><md-icon class="material-icons gray">lock</md-icon></span>
          </md-input>

        </div>

        <div class="row button-wrapper">
          <button md-raised-button color="primary">Login</button>
        </div>
      </form>
    </md-card>
  </div>