/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/


body {
    padding: 0px;
    margin: 0px;
    background: #e5e5e5;
}
.main-container {
    max-width: 1264px;
    margin: 0 auto;
    margin-bottom: 170px;
}
a {
    color: #03758e;
    text-decoration: none;
}
a:hover {
    color: #97c11f;
}
h1{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul{
    padding-left: 0;
}
.logo {
    width: auto;
}

/*.logo img {
    width: auto;
    height: 50px
}*/
header {
    margin-bottom: 25px;
}

header md-toolbar.md-primary {
    background: #03758e;
}

header md-toolbar.md-primary ul {
    list-style: none;
}
header md-toolbar.md-primary ul li {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
}
header md-toolbar.md-primary ul li a {
    color: #fff;
}
header md-toolbar.md-primary ul li a:hover {
    color: #97c11f;
}
/****************************/

/*.example-fill-remaining-space {
    flex: 1 1 auto;
}*/
/**/

md-card md-card-title {
    line-height: 40px;
}

/***************form**************/

[md-raised-button].md-primary{
    background: #03758e;
}
.form-container{ width: 750px; margin: 0 auto;}
.form-container md-input, .form-container md-textarea{
    width: 100%;
}
.form-container .row{
    margin-bottom: 15px;
}
.form-container .button-wrapper{
    margin-top: 30px;
}

.form-container .form-header{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.form-container .form-header h1{
    margin-bottom: 0;
}
.form-container .form-header p{
    margin-top: 10px;
}

/********common**********/

/*************cards*******************/

md-card img{
    width: 382px;
    height: 205px;
}
md-card{
    width: 100%;
    padding: 15px;
    
}
.idealist md-card{
    padding: 15px;
    
}
md-card md-card-actions{
    margin-bottom: 0px;
}

md-card md-card-actions span.count{
    font-size: 12px;
    color: #9f9f9f;
    margin-right: 15px;
}
.create-idea{
 position: fixed;
 right: 5px; 
 bottom: 5px;
    height: 130px;
    width: 130px;
    border-radius: 50% 50% 5px 50%;
    background: #c2c2c2;
}
.create-idea button{
        position: absolute;
    bottom: 35px;
    right: 35px;
    /*background: #03758e !important;*/
}
/**************/

.login md-input .md-input-prefix{
    width: 50px;
}
.material-icons.gray { color: #9f9f9f; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

md-card [md-card-avatar]{transition: all .2s ease-in-out;}
md-card [md-card-avatar]:hover{
    transform: scale(1.9);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}


.create-idea-form [md-prefix]{
    color:red;
}

/************share*************/
.share-icon-wrapper{
    position: absolute;
    top: 255px;
    right:12px; 
    z-index: 2;
}
.share-icon-wrapper .share-icon {
    display: inline-block;  
    text-align: center;
    background-color: #fff;
    transition:  all .2s ease-in-out;
    outline: 0;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.12), 0 2px 4px rgba(0,0,0, 0.24);
    color: #00abe3;
}
.share-icon-wrapper .share-icon md-icon{
    width: 24px;
}

.share-icon-wrapper .facebook {
    background-color: #3b5998;
    color:#fff;
}
.share-icon-wrapper .twitter {
    background-color: #00abe3; 
    color:#fff;
}
.share-icon-wrapper .googleplus {
    background-color: #d3492c;
    color:#fff;
}
.share-icon-wrapper .share-icon, .share-icon-wrapper .facebook, .share-icon-wrapper .twitter, .share-icon-wrapper .googleplus {
    transition:  all .2s ease-in-out;
    
}
.share-icon-wrapper .share-icon:hover, .share-icon-wrapper .facebook:hover, .share-icon-wrapper .twitter:hover, .share-icon-wrapper .googleplus:hover {
    transform: scale(1.3);
}
.share-icon-wrapper md-icon{
    width: 18px;
}
.share-icon-wrapper span{
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

}
.share-icon ~ span {
  margin-right: 250px;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}


/**********************search*********************/

.search-wrapper{
width: 450PX;
    font-size: 16px;
    line-height: 30px;
}
.search-wrapper .md-input-wrapper{
    margin: 16px 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 3px;
}
.search-wrapper .md-input-underline{
    display:   none;
}
.search-wrapper .md-input-placeholder{
     color: #fff;
}
.search-wrapper .md-input-placeholder.md-float:not(.md-empty), .search-wrapper .md-input-placeholder.md-float.md-focused{
    transform:translateY(0) scale(0);
    padding-bottom: 0;
    color:#fff;
    
}
.search-wrapper md-icon{
    top: 4px;
    position: relative;

}
.search-wrapper .md-input-prefix{
    width: 35px;
}

md-toolbar .heading{
    border-left: 1px solid rgba(255,255,255,0.2);
    padding-left: 24px;
    margin-left: 24px;
    line-height: 32px;
    margin-right: 50px;
}
md-toolbar .user-icon{
    margin-left: 20px;
    margin-top: 6px;
}